:root {
  --black-color: rgb(68, 67, 67);
  --white-color: rgb(255, 255, 255);
  --trans-padrao: 0.2s ease;
  --border-r-padrao: 10px;
  --padding-padrao: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.all {
  background-color: var(--black-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: var(--white-color);
  height: 100vh;
  width: 70%;
  border-radius: var(--border-r-padrao);
  display: flex;
  align-items: center;
  justify-content: center;
}

#form {
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  color: var(--black-color);
}

.global {
  margin-bottom: 20px;
  padding: var(--padding-padrao);
  border: none;
  transition: var(--trans-padrao);
  -webkit-appearance: none;
}

#result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-padrao);

}
#resultado {
  margin-top: 5px;
  text-align: center;
}
#imc-result {
  padding: var(--padding-padrao);
  margin-bottom: 5px;
  border: none;
  border-radius: var(--border-r-padrao);
  cursor: not-allowed;
  background-color: var(--black-color);
  color: var(--white-color);
  transition: var(--trans-padrao);
}
#calcular {
  padding: var(--padding-padrao);
  margin-bottom: 5px;
  border: none;
  border-radius: var(--border-r-padrao);
  cursor: pointer;
  background-color: var(--black-color);
  color: var(--white-color);
  transition: var(--trans-padrao);
}
#calcular:hover {
  padding: 20px;
}

.form_box {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: var(--trans-padrao);
}

.form_box:hover {
  display: flex;
  background-color: var(--black-color);
  color: var(--white-color);
  border: 1px solid;
  padding: 15px;
  border-radius: var(--border-r-padrao);
}

.global:focus {
  outline: none;
  display: flex;
  background-color: var(--black-color);
  color: var(--white-color);
  border: 1px solid;
  padding: 15px;
  border-radius: var(--border-r-padrao);
  transition: var(--trans-padrao);
}

/* TABELA */
.tabela {
  display: grid;
  width: 180%;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: var(--padding-padrao);
  border: 2px solid var(--black-color);
  border-radius: var(--border-r-padrao);
  margin-bottom: 10px;
}

.imc-table,
.class-table {
  display: flex;
  flex-direction: column;
}

.imc-table li,
.class-table li {
  font-size: 0.7rem;
  list-style: none;
}

.imc-table span,
.class-table span {
  padding: 5px;
  background-color: var(--black-color);
  color: var(--white-color);
  margin-bottom: 5px;
}
.imc-table span {
  border-top-left-radius: var(--border-r-padrao);
  border-bottom-left-radius: var(--border-r-padrao);
}

.class-table span {
  border-top-right-radius: var(--border-r-padrao);
  border-bottom-right-radius: var(--border-r-padrao);
}
/* TABELA FIM */

/* MUDAR COR AO CALCULAR IMC */
.changeColor {
  color: var(--white-color);
  background-color: var(--black-color);
  border-radius: var(--border-r-padrao);
  transition: 0.5s ease;
}
/* MUDAR COR FIM */
#peso,
#altura,
#hora {
  text-align: center;
}

@media (max-width: 768px) {
  .box {
    background-color: var(--white-color);
    height: 95vh;
    width: 90%;
    border-radius: var(--border-r-padrao);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  * {
    font-size: 20px;
  }
}
